@tailwind base;
@tailwind components;
@tailwind utilities;
.nursery-img img{
    height: 300px !important;
}
@font-face {
    font-family: 'Caveat';
    src: url('/Caveat-Regular.ttf') format('truetype');
}